*.class
output
output.jar
repl/.idea
repl/.settings
repl/target/
repl/out
repl/repl.iml
.classpath
**/.idea/workspace.xml
**/.idea/tasks.xml
.history
.DS_Store
.Compilerrc
.colors
libVM.dylib
VM.dll
libVM.so
web/target/classes/
web/target/generated/
web/target/generated-sources
web/target/maven-archiver
web/target/maven-status
web/target/web-1.0-SNAPSHOT.war
web/target/web-1.0-SNAPSHOT/META-INF
web/target/web-1.0-SNAPSHOT/WEB-INF
web/target/web-1.0-SNAPSHOT/teavm/src
web/target/web-1.0-SNAPSHOT/teavm/classes.js.map
web/target/web-1.0-SNAPSHOT/teavm/classes.js.teavmdbg
web/.idea
web/web.iml
web/target/web-1.0-SNAPSHOT/VM.js
web/target/web-1.0-SNAPSHOT/VM.wasm
PackageMaanager/.idea/
PackageMaanager/pkg.yaml
PackageMaanager/target/
